@tailwind base;
@tailwind components;
@tailwind utilities;

form label{
    font-weight: 600;
    font-size: medium;
}


form input{
   border: 1px solid;
   border-color: rgb(53, 53, 53);
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Aggiunge una leggera ombra */
   margin:2px
}
form input:focus {
    outline: none; /* Rimuove l'outline al momento del focus */
    border-color: #007bff; /* Cambia il colore del bordo durante il focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Cambia l'ombra durante il focus */
  }